@charset "utf-8";
/* CSS Document */

body {
    /* background-color: #F7F7F7; */ 
    background: #fff; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1em; 
    letter-spacing: 1px; 
    line-height: normal;
    margin: 0
}
body::before {
    content: ' ';
    display: block;
    width: 85%;
    height: 790px;
    background: #f7f7f7;
    position: absolute;
    top: 0;
}
body.half-gray::before {
    content: ' ';
    display: block;
    width: 85%;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    top: 0;
}

p, span
{
    font-size: 1em;
    line-height: 2em;
}

.desktop-hide {display:none !important}

.hide {display: none !important}
.show {display: block !important; }

body.top-full-color {background-color: #F7F7F7;}
a {
    color: inherit; 
    font-style: none; 
    text-decoration: none; 
    transition: .5s; 
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    cursor: pointer
}
p a {font-weight: bold}
p a:hover {color:#c0c0c0}
.burger {
    display:none; 
    position:relative 
}
.burger span, 
.burger span::after, 
.burger span::before {
    position: absolute;
    width: 25px; 
    height: 2px; 
    background-color: #000; 
    display: block
}
.burger span {}
.burger span::after, 
.burger span::before {content:  ' ';}
.burger span::after {top: 5px}
.burger span::before {top: -5px}

.container {
    margin: 0 auto;
    position: relative;
}
.container-sm {
    max-width: 900px !important; 
    padding-bottom: 75px
}
.full-width {
    max-width: inherit !important; 
    width: 100% !important 
}
.max-width-1 {max-width: 1000px !important}
.max-width-2 {max-width: 775px !important}
.max-width-initial {max-width: initial !important}

.navarea { 
    height: 130px; 
    margin: 0 auto; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%; 
    padding:50px 0; 
    /*background-color: rgba(247,247,247, 0.95); */
    z-index: 9
}
.navarea * {
    transition: .5s; 
    -webkit-transition: .5s; 
    moz-transition: .5s
}
.navarea .container {
    max-width: 1660px;
    width: 90%
}

.left-nav {
    float: left; 
    max-height: 130px; 
    max-width: 150px; 
    width: 100%
}
.left-nav a {}
.left-nav a img {
    max-height: 130px; 
    max-width: 150px
}

.middle-nav {
    max-width: 815px; 
    margin: 0 auto; 
    position: relative; 
    top: 50px
}
.middle-nav ul {
    padding:0; 
    list-style: none; 
    display: flex; 
    justify-content: space-around; 
}
.middle-nav ul li {}
.middle-nav ul li a {
    padding:15px; 
    border-bottom: none}
.middle-nav ul li a:hover,
.middle-nav ul li a:active, 
body.hire .middle-nav ul li .hire-link {border-bottom:1px #000 solid}
.middle-nav .close {display: none}

.right-nav{
    display: inline-block; 
    float: right
}
.right-nav a {
    width:20px; 
    height: 20px; 
    display: inline-block; 
    margin: 10px
}
.right-nav .search {
    background: url('../images/search.svg'); 
    background-size: cover
}
.right-nav .cart {
    background: url('../images/cart.svg'); 
    background-size: cover
}

/** sticky nav **/
.sticky {
    padding:25px 0; 
    height: 50px;
    background-color: rgba(247,247,247, 0.95); 
}
.sticky .logo {max-height: 60px}
.sticky .middle-nav {top:0}
.sticky .right-nav {margin-top:-50px}
.sticky .left-nav {margin-top:-20px}


.main { margin: 100px auto 0	}
.main-extra { margin: 200px auto 0	}

/** Search Section **/
.search-section {
    display: none; 
    background-color: #F7F7F7; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 100%;
    z-index: 99; 
}
.close {
    font-family: 'Montserrat', sans-serif; 
    font-size: 3em; 
    position: absolute; 
    text-outline: 50px; 
    right: 50px;
}
.search-section form {
    width: 80%; 
    margin:  150px auto 0
}
.search-section form input {
    border:0;
    border-bottom:1px #C1C1C1 solid; 
    display: inline-block; 
    width: 100%; 
    padding: 15px; 
    background-color: transparent; 
    font-size: 2.5em
}
.search-section form textarea {
    border:0;
    border-bottom:1px #C1C1C1 solid; 
    display: inline-block; 
    width: 100%; 
    padding: 15px; 
    background-color: transparent
}
.search-section form .submit {
    width: auto;
    background-color: #fff;
    border: 0;
    color: #000;
    font-weight: bold;
    border: 2px #000 solid;
    text-transform: uppercase;
    padding: 25px;
    margin: 50px auto 0; 
    display:block; 
    background-color: transparent; 
    transition: 0.5s; 
    -webkit-transition: 0.5s; 
    -moz-transition: 0.5s
}
.search-section form .submit:hover {
    background-color: #000; 
    color: #fff
}


/** slider **/
.slick-slide {pointer-events: none}
.slick-current {pointer-events: inherit}

.slider {
    width: 100%;
    margin: 0  auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev, .slick-next {
    top: 50%; 
    z-index:999999; 
    width: 30px;
    height: 55px;
    background-size: cover !important;
    background-repeat: no-repeat !important;

}

.slick-prev {
    left:25%; 
    background-image: url(../images/previous.png) !important;
}

.slick-next {
    right:25%;  
    background-image: url(../images/next.png) !important;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  display: none
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
    }
    .featured-templates .slider{}
    .featured-templates .slider .slick-slide {position: relative; left: -5.5%}
    .featured-templates .slider .slick-slide img {}

/** Global **/

.montserrat { font-family: 'Montserrat', sans-serif;}
.open-sans { font-family: 'Open Sans', sans-serif;}

h1, h2, h3 {text-transform: uppercase}
h1{font-size: 2em}
h2 {
    font-size:1.25em; 
    font-weight: normal
}
h3 {}

.sub-heading {font-size: 1.25em !important}
.header-overlap {
    font-weight:bold; 
    margin-top: -93px !important
}

.empty-space {
    position:relative; 
    width: 100%; 
    height: 110px
}
.empty-space-sm {
    position:relative; 
    width: 100%; 
    height: 50px !important
}

.hero-graphic {
    width:100%;
    max-width: 960p
    x}

.uppercase {text-transform: uppercase}
.text-center {text-align: center}
.text-right {text-align: right}
.text-left {text-align: left}

.float-left {float:left}
.float-right {float:right}
.float-none {float:none}

.absolute {position: absolute !important}
.relative {position: relative !important}

.margin-center {margin: 0 auto !important}




.clear {clear:both}

.btn {
    text-transform: uppercase; 
    padding: 15px; 
    border-bottom: 1px #000 solid; 
    color: #000; 
}
.btn:hover, .btn:active {
    background-color:#000; 
    color:#fff
}

.gray-box {
    background-color:#f7f7f7; 
    width: 50%; 
    max-width:854px; 
    max-height: 682px; 
    position: absolute; 
    z-index: 1; 
}
.gray-box-half-height {height: 350px}
.gray-box-quarter {width: 30% !important}
.container-sm .gray-box {
    max-width: 550px; 
    margin-top: 190px; 
    height: auto !important
}
.gray-box-right {right:0}
.gray-box-left {
    left:0; 
    width: 70%; 
    max-width: inherit; 
    height: 261px
}
.gray-box .btn {}
.gray-box-text {font-family: 'Montserrat', sans-serif;}
.gray-box-text-left {
    position: absolute; 
    width: 20%; 
    left: 110px; 
    bottom: 47%
}
.gray-box-text-right {
    position: absolute; 
    width: 20%; 
    right: 110px; 
    bottom: 47%;
}
.gray-box-img {
    max-width: 850px; 
    position: relative; 
    z-index: 2; 
    margin-top:190px; 
    width: 65%
}
.container-sm  .gray-box-img {
    max-width: 550px; 
    margin-top: inherit;
}

.gray-box-full-content {
    max-width: 1550px; 
    margin: 0 auto; 
    position: relative; 
    top: 85px; 
    z-index: 2
}
.column { 
    position: relative; 
    z-index: 2; 
    display: flex; 
    justify-content: space-around
}
.column div  { 
    margin: 10px;
    font-family: 'Montserrat', sans-serif; 
    max-height: inherit; 
    height: 100%; 
    display: inline-block; 
    padding: 230px 45px 60px; 
    background-size:cover !important 
}

.column-4 div {max-width: 20%;}
.column-3 div {max-width: 30%;}
.column-2 div {max-width: 45%;}

.column ul li, .column ol li {margin-bottom: 20px}
.column ul li a, .column ol li a {font-weight: bold}

.img-caption-top-space {
    margin-top: 55px; 
    position: absolute; 
    width: 80%; 
    right: 0;
}



/** Side Sections **/
.side-section {
    position:absolute; 
    bottom: 0; 
    z-index: 8; 
    width: 500px
}
.side-section h3 
{
    text-align:left;
    font-size:2em;
}

.aside-right h3
{
    text-align:center;
}

.aside-left, 
.aside-left-no-adjust, 
.aside-right, 
.aside-right-no-adjust {
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}
.aside-left-no-adjust {left: -61px}
.aside-right-no-adjust {right: 0}
.aside-left {
    left: -180px;  
    bottom: 40%
}
.aside-right {
    right: -180px; 
    bottom: 40%
}
.container-sm .aside-right {
    right: 0; 
    bottom: 220px
}
.aside-over-top {
    bottom: inherit; 
    top: 250px
}

/** Sections **/
.section {
    position: relative; 
    padding: 75px 0 
}
.section .container {
    max-width: 1550px;
    width: 90%; 
    display: inline-block
}
.section .container h2 {
    max-width: 775px; 
    margin: 0 auto; 
    font-size: 2em
}
.max-width {
    max-width: 775px; 
    margin: 0 auto;
}
/*
.section:nth-child(odd), body.home .section:first-child {background-color:#f7f7f7 !important}
.section:first-child, .section:nth-child(even) {background-color:#fff}
.section-1 {}
*/


/** Carousel **/
.carousel {}
.carousel ul {
    list-style: none; 
    padding: 0 ; 
    margin: 0; 
    text-align: center; 
    white-space: nowrap; 
    overflow: hidden; 
    width: 100%
}
.carousel ul li {
    width: 30%; 
    display:inline-block
}
.carousel ul li a {}
.carousel ul li a img {
    display:inline-block; 
    width: 80%
}

/** Quotes **/
.quote {
    max-width: 1000px;
    position: relative; 
    left: 0 ; 
    right: 0; 
    margin: 0 auto 
}
.quote:before {
    content: ' ';
    font-family: 'Montserrat', sans-serif;
    font-size: 8em;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: -60px;
    left: -70px;
    background-image: url(../images/quote.svg);
    width: 50px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
}
.quote-msg {}

/** instagram **/
.instagram-area {
    max-width: 1550px; 
    margin:0 auto; 
    position: relative; 
    width: 80%
}
.instagram-area .gray-box {
    z-index: 1; 
    margin-top: 35px; 
    height: 250px
}
.instagram-area h3 {
    position: relative;  
    z-index: 2; 
    left: 100px}
.instagram-area ul {
    margin:50px 0 100px; 
    padding: 0; 
    list-style: none;
    text-align: center; 
    position: relative; 
    z-index: 3; 
    width: 80%; 
    float: right
}
.instagram-area ul li {
    display: inline-block; 
    margin: 0; 
    width: 24%; 
    background-color:#000
}
.instagram-area ul li img {
    width:100%; 
    cursor: pointer; 
    display: block;
    transition: .5s; 
    -webkit-transition: .5s; 
    -moz-transition: .5s; 
    cursor: pointer 
}
.instagram-area ul li img:hover {opacity: .8}


/** Services Page **/
.services-content {max-width: 1000px}
.services-content .column-3 div {
    background-color: #F0EBE7 !important;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    padding: 150px 30px 60px;  

} 
.services-content .column-3 div:nth-of-type(1) {background: url('../images/services_setup.jpg')} 
.services-content .column-3 div:nth-of-type(2) {background: url('../images/services_restyle.jpg')} 
.services-content .column-3 div:nth-of-type(3) {background: url('../images/services_custom.jpg')} 


/** How it Works Page **/
.how-it-works-content {max-width: 100%s}
.how-it-works-content .column-4 div { 
    padding: 0px 15px; 
    background: inherit; 
    position: relative  
} 
.how-it-works-content .column-4 div  h3 {
    position: absolute;
    top:-34px;
    -ms-transform: rotate(-90deg); 
    -webkit-transform: rotate(-90deg); 
    transform: rotate(-90deg);
}
.how-it-works-content .column-4 div img {
    width: 100%; 
    height: auto
}

/** About Page **/
.about-hire {
    background: url('../images/hire-us.png'); 
    background-size:cover 
}
.about-shop {
    background: url('../images/shoptemplates.png'); 
    background-size:cover
}


/** Blog Page **/
body.blog .footerarea {padding-top:0}
body.blog .post-list .aside-over-top {
    top: 17%; 
    left: -9%
}
.freebie-content {
    max-width: 1200px; 
    background-color: #efeae6; 
    background-image: url('../images/email-signup.jpg'); 
    background-size:auto;
    background-repeat: no-repeat;
    background-position: top right; 
    width:75%
}
.freebie-content .column {
    max-width: 60%; 
    padding: 25px
}

.single-post .section .container h2 {
    max-width:inherit; 
    display: inline
}

.prev-next, .share-post {
    margin-top:50px; 
    width:100%; 
    display: inline-block
}

.comment-post .contact-form form input {width: 27%}

/** Portfolio **/
.portfolio-grid {
    display: block; 
    text-align: center
}
.portfolio-grid-2-column {}
.portfolio-grid-2-column > div {
    width:40%; 
    float:none; 
    padding:0; 
    margin: 0 20px 75px 
}
.portfolio-grid p {text-align: left}
.portfolio-grid * {clear:both}
.portfolio-img {
    background-color:#f7f7f7; 
    margin:0 !important; 
    padding:0px !important; 
    max-height:inherit !important
}
.portfolio-img a {
    display: block; 
    /* padding: 100px 50px */
}
.portfolio-img a:hover {background-color:#fff}
.portfolio-img a:hover img {opacity: .5}
.portfolio-img img {width: 100%}
.portfolio-name {
    font-weight: bold; 
    text-transform: uppercase
}
.portfolio-type {}


/** Shop Page **/
body.shop .portfolio-grid p {text-align: right}


/** Contact Page **/
body.contact .footerarea {padding-top:0}
.contact-chat {
    background: url('../images/work-with-us.png'); 
    background-size:cover 
}
.contact-template {
    background: url('../images/tech-support.png'); 
    background-size:cover}
.contact-form {padding: 75px 0 0;}
.contact-form form {}
.contact-form form div {
    padding:0; 
    clear: both; 
    width: 100%; 
    height: inherit; 
    text-align: left
}
.contact-form form div span {
    text-transform: uppercase; 
    display: inline-block; 
    width: 125px
}
.contact-form form input {
    border:0;
    border-bottom:1px #C1C1C1 solid; 
    display: inline-block; 
    width: 100%; 
    padding: 15px; 
    background-color: transparent
}
.contact-form form textarea {
    border:0;
    border-bottom:1px #C1C1C1 solid; 
    display: inline-block; 
    width: 100%; 
    padding: 15px; 
    background-color: transparent
}
.contact-form form .submit {
    max-width: 55px;
    background-color: #fff;
    border: 0;
    color: #000;
    font-weight: bold;
    border-bottom: 2px #000 solid;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 auto; 
    display:block; 
    background-color: transparent
}



/** form **/
.rfp-section, 
.rfp-section .container, 
.rfp-section .container .column, 
.rfp-section .container .column form div { 
    max-height: inherit !important; 
    padding: 0 !important; 
    height: auto !important; 
    max-width: 100% !important; 
    min-width: 100% !important; 
    width: 100% !important;
}

/*** FAQs ***/
.faqs-section {}
.question {
    width: 100%; 
    padding: 0 !important; 
    max-width: inherit !important; 
    min-width: 100%; 
    max-height: inherit !important; 
    text-transform: uppercase;
    cursor:pointer; 
    background-color: #E9F1F5; 
    transition: 0.5s; 
    -webkit-transition: 0.5s; 
    -moz-transition: 0.5s;
}

.question:hover {background-color: #f7f7f7}
.column div .question .answer { 
    display: none;
    border-left: 1px #ccc solid;
    padding-left: 25px !important;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-transform: initial;
  
}

.question p 
{
    margin: 0 auto 25px !important;
    width: 80%;
}
.question .q 
{
    display: block !important;
    padding: 25px 25px 0 !important; 
}

.column div .question .answer a {text-decoration: underline !important}

/** Quiz **/
.quiz-section img {max-width:  916px !important}
.quiz-section .aside-right {
    bottom: 48%; 
    right: -21%
}
.quiz-section .gray-box-text-right {
    right: 80px; 
    bottom: 17%;
}

/** Hire Us & Browse Templates **/
.hire-shop-widget {
    margin: 0 auto; 
    display: block !important
}
.hire-shop-widget .column-2 {
    width: 100%; 
    top:0
}
.hire-shop-widget .column-2 div {
    width: 50%; 
    display: block
}
.hire-shop-widget .column-2 div .aside-left {
    left: 20%; 
    bottom: inherit; 
    top: -50%
}
.hire-shop-widget .column-2 div .aside-right {
    right: 20%; 
    bottom: inherit; 
    top: -95% 
}
.hire-shop-widget .column-2 div .aside-right h3 {
	text-align: left
}
.hire-shop-widget .column-2 div a { 
    left: 0;  
    right: 0; 
    margin: 0 auto; 
    display: inline; 
    width: 100%; 
    max-width: 241px; 
    bottom: 0%;
}
.hire-shop-widget .column-2 div:last-child a {bottom: -40%}


/** Consultation Help **/
.consultation-help-widget {
    margin: 0 auto; 
    display: block !important
}
.consultation-help-widget .column-2 {
    width: 100%; 
    top:0
}
.consultation-help-widget .column-2 div {
    width: 50%; 
    display: block
}
.consultation-help-widget .column-2 div .aside-left {
    left: 20%; 
    bottom: inherit; 
    top: -50%
}
.consultation-help-widget .column-2 div .aside-right {
    right: 20%; 
    bottom: inherit; 
    top: -27% 
}
.consultation-help-widget .column-2 div a { 
    left: 0;  
    right: 0; 
    margin: 0 auto; 
    display: inline; 
    width: 100%; 
    max-width: 241px; 
    bottom: -30%;
}
.consultation-help-widget .column-2 div:last-child a {bottom: 0%}

/** Get the Freebie **/
.email-signup .gray-box-left {
    width:486px; 
    height: 328px;
}
.email-signup .aside-left {bottom: 10%}


/** footer **/
.footerarea {
    padding-top: 0; 
    margin-top: -20px
}
.footerarea , 
.footer-content {
    width: 100%; 
    text-align: center; 
    background-color: #fff
}
.footer-content {  margin: 0 auto; }
.footer-nav {
    background-color:#f7f7f7; 
    clear: both 
}
.footer-nav .section {padding: 20px 0}
.footer-nav .social {
    position: absolute;
    right: 0; 
    top: -51px;
    max-width: 500px;
}
.footer-nav .social ul {}
.footer-nav .social ul li {margin:10px}
.footer-nav .social ul li a {
    display: block; 
    width: 40px; 
    height: 40px; 
    padding: 0; 
    border: none
}
.facebook {background: url('../images/fb.svg')}
.behance {background: url('../images/behance.svg')}
.instagram {background: url('../images/instagram.svg')}
.pinterest {background: url('../images/pinterest.svg')}
.youtube {background: url('../images/youtube.svg')}



.footer-nav ul, 
.footer-nav .social {
    margin:0; 
    padding: 0; 
    list-style: none; 
    display: flex;
    justify-content: space-around;
}
.footer-nav ul { 
    width: 50%; 
    float: left
}
.footer-nav ul li {}
.footer-nav ul li a{
    text-transform: uppercase; 
    padding:15px; 
    border-bottom: 1px #f7f7f7 solid
}
.footer-nav ul li a:hover, 
.footer-nav ul li a:active {border-bottom:1px #000 solid}
.footer-credits {
    padding: 20px 0; 
    font-size: .75em; 
    background-color:#fff
}




/** font styles **/
.bold {font-weight:bold}
.italic {font-style:italic}
.underline {text-decoration: underline}

/** margins & paddings **/
.no-padding {padding:0 !important}
.no-padding-top {padding-top:0 !important}
.no-padding-bottom {padding-bottom:0 !important}
.no-margin-top {margin-top:0 !important}
.no-margin {margin: 0 !important}

/** colors **/
.gray {background-color:#f7f7f7 !important}
.peach {background-color:#f7f7f7}
.white {background-color: #fff !important}
.transparent {background-color: transparent !important}
.light-gray {background-color: #f7f7f7 !important}

/** images **/
.img-full-width {width:100%}

/** displays **/
.block {display: block}
.inline {display: inline}
.inline-block {display: inline-block}
.flex {display: flex}


/***** MOBILE *******/

@media only screen and (max-width: 767px) {

    body {overflow-x: hidden}
    body::before {height: 440px}

    .mobile-content {
        width: 80% !important;
        margin: 0 auto !important;
        display: block !important;
    }

    h1, .section .container h2 {font-size: 1.1em}
    .sub-heading {font-size:1em}
    .side-section h3 {font-size: 1em}

    .desktop-hide {display: block !important}
    .mobile-hide {display:none !important}

    .column {display: block}
    .column-3 div,
    .column-2 div {
        width: 100%;
        max-width: 100%;
    }

    /* body {background: #fff !important}
    body::before {display:none} */
    .navarea {
        padding:20px 0; 
        height: 40px; 
        background:#F7F7F7
    }
    .burger {display: block}
    .middle-nav ul {
        display: none; 
        background:#fff; 
        position: fixed; 
        top: -15px; 
        left: 0; 
        width:100%;
        height: 100vh; 
        padding: 125px 0 25px; 
        overflow: hidden
    }
    .middle-nav .close {
        display:none; 
        z-index: 99
    }
    .middle-nav ul li {text-align: center}
    .middle-nav ul li a {display: block}
    .sticky .left-nav, 
    .sticky .right-nav {margin-top: inherit}
    .left-nav {
        position: absolute; 
        float: none; 
        left: 0; 
        right: 0; 
        margin: 0 auto; 
        max-height: 40px
    }
    .left-nav a img, 
    .sticky .logo {max-height: 50px}
    .right-nav .cart {
        position: fixed; 
        left: 0; 
        top: 40vh; 
        margin:0; 
        padding: 10px; 
        background: none; 
        background-color: #000 
    }
    .right-nav .cart:before {    
        content: ' ';
        display: block; 
        background-image: url(../images/cart-white-icon.svg); 
        color: #fff; 
        width: 20px; 
        height: 20px
    }
    .middle-nav, 
    .sticky .middle-nav {top: 20px}
    .main {margin: 120px auto 0}
    .section {
        margin:0;  
        padding: 35px 0;
    }
    .section:first-child { padding:0;}
    .section .container {width: 100%}
    .section .container h1, 
    .section .container h2, 
    .quote-msg {
        width: 70%; 
        float: none; 
        margin:20px auto
    }
    .aside-left-no-adjust, 
    .aside-left {left: -230px}
    .aside-right {
        right: -230px; 
        bottom: 30%
    }
    .gray-box-text {
        position: relative; 
        padding:0;
        min-height:300px
    }
    .gray-box-text span {display: none}
    .gray-box-img {margin-top: 0}
    .gray-box {
        /* bottom: -80px; */
        min-height: 300px
    }
   
    .gray-box-text-right, 
    .gray-box-text-left {
        left:0; 
        right: 0; 
        min-height:  inherit;
        text-align: center; 
        width: 100%
    }

    .gray-box-left .aside-left{left:-80px}
    .gray-box-right .aside-right{right:-80px}
 
    .gray-box-text-right .btn, 
    .gray-box-text-left .btn {
        display: inline-block;
        position: relative; 
        top: -70px;
    }

    .services-content .column {
        width: 60%;
        float: right;
        margin-right: 25%;
    }
    .services-content .column div {padding: 230px 25px 60px;}
    
    .portfolio-grid-2-column > div {
        width:100%;
        margin: 0 auto 100px
        }
    .portfolio-grid p {
        text-align: right;
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -15px;
    }
    .portfolio-img a {padding: 50px}

    .hire-shop-widget .column-2 div {padding: 0}
    
    .quote {top: 80px}
    
    .quiz-section .aside-right {right: -230px}
  
    .quiz-section .gray-box-img {width: 50%;}
    .quiz-section .gray-box {width: 65%;}
    .quiz-section .gray-box-text {
        font-size: .75em; 
        position: absolute; 
        padding: 0; 
        text-align: 
        left; right: 10%; 
        left: inherit; 
        width: 26%
    }
    .quiz-section .gray-box-text span {/* display: block;*/ }
    .quiz-section .gray-box-text .btn {
        position: absolute; 
        bottom: -50px; 
        top: inherit; 
        left: -5%; 
        font-size:1.5em; 
        left: -130% 
    }
    .footer-menu {
        display:block !important; 
        text-align: left
    }
    .instagram-area h3 {left: 0}
    .instagram-area ul li {width:45%}

}
@media only screen and (max-width: 400px) {
}