/* Scss Document */
/* CSS Document */
body {
  background-color: #fff; }

.navarea {
  height: 130px;
  max-width: 1660px;
  margin: 0 auto; }

.main, .footer-content {
  max-width: 1550px;
  margin: 0 auto; }
